.user{
	margin-block: .5em;
	/* margin-inline: 25%; */
	padding-inline: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: .5em;
	background-color: rgb(218, 180, 180);
	color:#FFFF;
	font-size: 1.25rem;
	/* font-weight: 400; */
	border: 1px solid rgb(218, 180, 180);
	border-radius: 5px;
	box-shadow: -3px 3px rgb(218, 180, 180), -1px 1px rgb(218, 180, 180), -3px 3px rgb(218, 180, 180);
}
.user > *{
	font-weight: 700;
	flex: 1 1 0;
	text-align: left;
}

